.routingWin {
    min-height: 280px;
    overflow: auto;
    max-height: 1280px;
}
.inputGroupR {
    width: 100%;
}
.innerRDiv {
    position: absolute;
    width: 225px;
}
.suggestlist {
    overflow-y: auto;
    overflow-x: hidden;
    top: 31px !important;
}
.routinglocator {
    background-color: #fff;
    vertical-align: middle !important;
    top: 0;
}
.routinglocator:hover {
    background-color: #ebebeb;
}
@media (min-height:360px){
    .routingWin {
        max-height:120px;
    }
}
@media (min-height:540px){
    .routingWin {
        max-height:300px;
    }
}
@media (min-height:700px){
    .routingWin {
        max-height:460px;
    }
}
@media (min-height: 820px) {
    .routingWin {
        max-height:580px;
    }
}
@media (min-height: 1000px) {
    .routingWin {
        max-height:750px;
    }
}
@media (min-height: 1100px) {
    .routingWin {
        max-height:950px;
    }
}
#routingoverlay {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
    color: blue;
    border-radius: 5px !important;
    font-family: "UniversNextW01-Regular",sans-serif;
    font-weight: bold;
    padding: 5px;
}
