.menu-style {
    font-size: 14px;
    letter-spacing: 0.6px
}

.tool-style {
    font-size: 12px;
    padding: 5px 0;
    border-bottom: 1px solid rgb(229, 229, 229);
}

.tool-style:last-child {
    border-bottom: 0;
}
