<!DOCTYPE html>
<div class="header">
    <p class="buttons pull-right">
        <span class="glyphicon glyphicon-remove" title="Schließen"></span>
    </p>
    <p class="title">
        <span>Informationen und Legende</span>
    </p>
</div>
<div class="content">
    <h4 class="subtitle" title="<%= title %>"><%= title %></h4>
    <% if (metaID !== null) { %>
        <p class="abstract"><%= abstractText %></p>
        <br>
        <p class="metalink"><a href="<%= metaURL %>" target="_blank">weitere Metadaten</a></p>
        <p>Stand der Daten: <%= date %></p>
    <% } %>
    <% if (_.isObject(legendURL[0]) === true && typeof metaID !== "undefined") { %>
        <hr>
        <h4 class="subtitle">Legende</h4>
        <p>
           <%
              if (legendURL[0].typ === "WFS") {
              %>
                <table>
                <%
                _.each(legendURL[0].img, function (image, index2) {
                %>
                    <tr>
                       <td class="tdLegend">
                           <img src="<%= image %>">
                       </td>
                       <td class="tdLegend">
                           <span><%= legendURL[0].legendname[index2] %></span>
                       </td>
                   </tr>
                <%
                });
                %>
                </table>

                <%
               }else if (legendURL[0].typ === "styleWMS") {
                   %>

                    <table>
                  <%
                     _.each(legendURL[0].params, function(param){
                   %>
                        <tr>
                            <td><div class="styleWMS" style="background-color:<%=param.color%>"></div></td>
                            <td><%=param.startRange%> - <%=param.stopRange%></td>
                        </tr>
                   <%
                   });
                   %>
                    </table>
                <%
                }
            else {
                if (typeof legendURL[0].img === "string") {
                    if (legendURL[0].img.search(".pdf") !== -1) {
                   %>
                        <a href=<%= legendURL[0].img %> target="_blank">weitere Informationen</a>
                    <%
                    } else {
                    %>
                        <p>
                            <img src=<%= legendURL[0].img %>>
                        </p>
                    <%
                    }
                }
               else {
                    if (legendURL[0].img.length ===1 ) {
                    _.each(legendURL[0].img, function (image) {
                    %>
                        <p>
                            <img src=<%= image %>>
                        </p>
                <%
                   });}else { %>
                    <p>
                        <img src=<%= legendURL[0].img[0] %>>
                    </p>
                <%
               }}}
               %>
        </p>
    <% } %>
</div>
